{#<pagetitle>NHS.UK | Error page</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/list/macro.njk' import list %}

{{ heading({
    subHeading: { text: 'error-page.section.heading'},
    text: 'error-page.h1',
    locale: locale
  })
}}

<p class="nhsuk-body">
	{{ __({phrase: "error-page.p1", locale: locale }) }}
</p>
<p class="nhsuk-body">
	{{ __({phrase: "error-page.p2.html", locale: locale }) | safe }}
</p>
<p class="nhsuk-body">
	{{ __({phrase: "error-page.p3", locale: locale }) }}
</p>
<p class="nhsuk-body">
	{{ __({phrase: "error-page.p4", locale: locale }) }}
</p>
<p class="nhsuk-body">
	{{ __({phrase: "error-page.p5", locale: locale }) }}
</p>

<ul class="nhsuk-list nhsuk-list--bullet">
	<li>{{ __({ phrase: "common.contact.email.mailto.html", locale: locale }) | safe }}</li>
	<li>{{ __({ phrase: "common.contact.telephone.html", locale: locale }) | safe }}</li>
</ul>