{#<pagetitle>NHS.UK | Have you visited a hospital</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/radios/macro.njk' import radios %}
<form action="visited-hospital" method="post" class="form">
    <fieldset class="nhsuk-fieldset">
        {{
            heading({
                subHeading:{ text: 'visited-hospital.section.heading'},
                text: 'visited-hospital.h1',
                classes: 'nhsuk-fieldset__heading',
                locale: locale
            })
        }}

        <div class="nhsuk-form-group {% if errors %} nhsuk-form-group--error {% endif %}" id="radios-visitedHospitalQuestion">
        {{ p({text:'visited-hospital.hint', classes:'nhsuk-hint', locale: locale}) }}

        {% for error in errors %}
            {% if error.param == 'Yes'%}
                <span class="nhsuk-error-message" id=visited-hospital-error" style="display: block;">
                    {{ __({phrase: error.msg, locale: error.locale }) }}
                </span>
            {% endif %}
        {% endfor %}
        {{ radios({
          "idPrefix": "visited-hospital",
          "name": "VisitedHospital",
          "items": [
            {
              "checked": (data.Data.VisitedHospital === 'Yes'),
              "id": "Yes",
              "value": "Yes",
              "text": "visited-hospital.option1",
              "locale": locale
            },
            {
              "checked": (data.Data.VisitedHospital === 'No'),
              "id": "No",
              "value": "No",
              "text": "visited-hospital.option2",
              "locale": locale
            }
          ]
        }) }}
        </div>
    </fieldset>
    {{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>
