{% if params.html or params.text %}

    <label class="nhsuk-label
        {%- if params.classes %} {{ params.classes }}{% endif %}"
        {%- if params.for %} for="{{ params.for }}"{% endif %}
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
        {{  params.html | safe if params.html else __({phrase: params.text, locale: params.locale }) }}
    </label>


    {%- if params.isPageHeading %}
        <h1 class="nhsuk-label-wrapper">{{ labelHtml | safe | indent(2) }}</h1>
    {%- else -%}
        {{ labelHtml | safe }}
    {%- endif -%}
{%- endif -%}


