{#<pagetitle>NHS.UK | Nominated person - address</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}

<form action="representative-address" method="post" class="form">
    <fieldset class="nhsuk-fieldset ">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            {{
                heading({
                    subHeading:{ text: 'representative-address.section.heading'},
                    text: 'representative-address.h1',
                    classes: 'nhsuk-fieldset__heading',
                    locale: locale
                })
            }}
        </legend>
        {{
        input({
            "formGroup": {
                classes: "nhsuk-form-group"
            },
            "fieldset": {
                classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "representative-address-input1",
                locale:locale
            },
            id: "RepresentativeAddressLine1",
            name: "RepresentativeAddressLine1",
            value: data.Representative.RepresentativeAddressLine1,
            "errorMessage": parseErrors(errors, 'RepresentativeAddressLine1')
        })
    }}
        {{
        input({
            "formGroup": {
                classes: "nhsuk-form-group"
            },
            "fieldset": {
                classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "representative-address-input2",
                locale:locale
            },
            id: "RepresentativeAddressLine2",
            name: "RepresentativeAddressLine2",
            value: data.Representative.RepresentativeAddressLine2,
            "errorMessage": parseErrors(errors, 'RepresentativeAddressLine2')
        })
    }}
        {{
        input({
            "formGroup": {
                classes: "nhsuk-form-group"
            },
            "fieldset": {
                classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "representative-address-input3",
                locale:locale
            },
            id: "RepresentativeTownOrCity",
            name: "RepresentativeTownOrCity",
            value: data.Representative.RepresentativeTownOrCity,
            "errorMessage": parseErrors(errors, 'RepresentativeTownOrCity'),
            classes: 'nhsuk-u-width-two-thirds'
        })
    }}
        {{
        input({
            "formGroup": {
                classes: "nhsuk-form-group"
            },
            "fieldset": {
                classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "representative-address-input4",
                locale:locale
            },
            id: "RepresentativeCounty",
            name: "RepresentativeCounty",
            value: data.Representative.RepresentativeCounty,
            "errorMessage": parseErrors(errors, 'RepresentativeCounty'),
            classes: 'nhsuk-u-width-two-thirds'
        })
    }}
        {{
        input({
            "formGroup": {
                classes: "nhsuk-form-group"
            },
            "fieldset": {
                classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "representative-address-input5",
                locale:locale
            },
            id: "RepresentativePostcode",
            name: "RepresentativePostcode",
            value: data.Representative.RepresentativePostcode,
            "errorMessage": parseErrors(errors, 'RepresentativePostcode'),
            classes: 'nhsuk-input--width-10'
        })
    }}
    </fieldset>
    <br>
    {{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>