{#<pagetitle>NHS.UK | About you - contact preferences</pagetitle>#}
{% from '../../../common/components/checkboxes/macro.njk' import checkboxes %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/p/macro.njk' import p %}

<span class="heading-secondary ">{{ __({phrase: "about-you-contact-prefs.section.heading", locale: locale }) }}</span>
<form action="about-you-contact-prefs" method="post" class="form">
    {{
        checkboxes({
          "id": "ClaimantContactPreferences",
          "name": "ClaimantContactPreferences",
          "legend": {
                "text": "about-you-contact-prefs.h1",
                "classes": "nhsuk-fieldset__legend--l",
                isPageHeading: true,
                locale: locale
           },
           hint: {text: "about-you-contact-prefs.hint", locale: locale},
          "errors": errors,
          "items": [
            {
                "name":'ClaimantContactPreferences',
                "id": "Email",
                "value": "Email",
                "datapoint": data.Claim.ClaimantContactPreferences,
                "attributes" : "ClaimantContactPreferences",
                "text": "Email",
                locale: locale
            },
            {
                "name":'ClaimantContactPreferences',
                "id": "Phone",
                "value": "Phone",
                "datapoint": data.Claim.ClaimantContactPreferences,
                "attributes" : "ClaimantContactPreferences",
                "text": "Phone",
                locale: locale
            },
            {
                "name":'ClaimantContactPreferences',
                "datapoint": data.Claim.ClaimantContactPreferences,
                "id": "Byletter",
                "value": "Letter",
                "attributes" : "ClaimantContactPreferences",
                "text": "Letter",
                locale: locale
            }
          ]
        })
    }}

    <br>

    {{ button({
        "text": "common.button.continue",
        locale: locale
    }) }}

</form>