{#<pagetitle>NHS.UK | Saving your claim application for later</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/link/macro.njk' import link %}



<fieldset class="nhsuk-fieldset">
    {{ heading({
        subHeading: { text: 'saved-claim.section.heading'},
        text:  'saved-claim.h1',
        classes: 'nhsuk-heading-l govuk-heading-l',
        locale: locale
    }) }}
    <div class="nhsuk-form-group">
        {{ p({text: 'saved-claim.p1', locale: locale}) }}
        {{ p({text: 'saved-claim.p2', locale: locale}) }}
        {{ p({text: 'saved-claim.p3', locale: locale}) }}

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>{{data.SaveDate}}</p>
        </div>
    </div>
</fieldset>
{{
    link({
      "text": "common.button.continue",
      "href": "/",
      "arrow": false,
      "classes": "nhsuk-button",
      locale: locale
    })
}}
