{#<pagetitle>NHS.UK | Medical history information</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/list/macro.njk' import list %}
{% from '../../../common/components/link/macro.njk' import link %}

{{
    heading({
        subHeading:{text: 'medical-history-info.section.heading'},
        text: 'medical-history-info.h1',
        classes: 'nhsuk-heading-l govuk-heading-l',
        locale: locale
    })
}}
{{ p({text: 'medical-history-info.p1', classes: 'nhsuk-body-l', locale: locale}) }}
{{
    list({
        items: [
            "medical-history-info.list.item1",
            "medical-history-info.list.item2"
        ],
        classes: 'nhsuk-list--bullet',
        locale: locale
    })
}}
{{ p({text:  'medical-history-info.p2', classes: 'nhsuk-body', locale: locale}) }}
{% if (data.Data.ApplyingFor === 'Myself') %}
    {{ link({
      "text": "common.button.continue",
      "href": "/add-vaccine",
      "arrow": false,
      "classes": "nhsuk-button",
      locale: locale
    }) }}
{% endif %}
{%  if(data.Data.ApplyingFor === 'Under16') or (data.Data.ApplyingFor === 'Disabled') or (data.Data.ApplyingFor === 'SomeoneElse') %}
  {{ link({
      "text": "common.button.continue",
      "href": "/add-vaccine-other",
      "arrow": false,
      "classes": "nhsuk-button",
      locale: locale
    }) }}
{% endif %}
{%  if(data.Data.ApplyingFor === 'Deceased') %}
    {{ link({
      "text": "common.button.continue",
      "href": "/add-vaccine-died",
      "arrow": false,
      "classes": "nhsuk-button",
      locale: locale
    }) }}
{% endif %}