{#<pagetitle>NHS.UK | Healthcare providers summary</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/radios/macro.njk' import radios %}

{{ heading({
    subHeading:{text: 'healthcare-provider-cya.section.heading'},
    text: 'healthcare-provider-cya.h1',
    classes: 'nhsuk-heading-l govuk-heading-l',
    locale: locale
  })
}}

<div id="health-clinic-cya">
      {% for healthClinicData in data.HealthcareProviders %}
      <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                  {{__({phrase: 'healthcare-provider-cya.section1.item1', locale:locale})}}
              </dt>
              <dd class="nhsuk-summary-list__value">
                  {{healthClinicData.ClinicName}}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                  <a href="/healthcare-provider-details?healthcareProviderCount={{healthClinicData.ClinicCount}}">
                      {{__({phrase: 'common.change.link', locale:locale})}}<span class="nhsuk-u-visually-hidden"> name</span>
                  </a>
              </dd>
          </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                  {{__({phrase: 'healthcare-provider-cya.section1.item2', locale:locale})}}
              </dt>
              <dd class="nhsuk-summary-list__value">
                  {{healthClinicData.DisplayedAddress}}
              </dd>
              <dd class="nhsuk-summary-list__actions">
              </dd>
          </div>
      
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                {{__({phrase: 'healthcare-provider-cya.section1.item3', locale:locale})}}
              </dt>
              <dd class="nhsuk-summary-list__value">
                  {{healthClinicData.ClinicConsultant}}
              </dd>
              <dd class="nhsuk-summary-list__actions">
              </dd>
          </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                {{__({phrase: 'healthcare-provider-cya.section1.item4', locale:locale})}}
              </dt>
              <dd class="nhsuk-summary-list__value">
                  {{healthClinicData.ClinicConsultantTelNo}}
              </dd>
              <dd class="nhsuk-summary-list__actions">
              </dd>
          </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                {{__({phrase: 'healthcare-provider-cya.section1.item5', locale:locale})}}
              </dt>
              <dd class="nhsuk-summary-list__value">
                  {{healthClinicData.ClinicConsultantEmail}}
              </dd>
              <dd class="nhsuk-summary-list__actions">
              </dd>
          </div>
      </dl>
      {% endfor %}
</div>

<form action="healthcare-provider-cya" method="post" class="form">
    <div class="nhsuk-form-group {% if errors %} nhsuk-form-group--error {% endif %}">
    <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                {{
                    p({
                        "text": 'healthcare-provider-cya.section2.h2',
                        "classes" : 'nhsuk-heading-l govuk-heading-l',
                        locale:locale
                   })
                }}
            </legend>
            {{ p({text:'healthcare-provider-cya.hint', classes:'nhsuk-hint', locale: locale}) }}
            {% for error in errors %}
            <span class="nhsuk-error-message">
                {{ __({phrase: error.msg, locale: locale }) }}
            </span>
            {% endfor %}
            <span class="nhsuk-error-message" id="addAnotherHealthClinic-error"></span>
            <div class="nhsuk-flex-group">
                {{ radios({
                  "idPrefix": "healthcare-provider-cya",
                  "name": "addAnotherHealthcareProvider",
                  "items": [
                    {
                      "checked": (data.Data.addAnotherHealthcareProvider === 'Yes'),
                      "id": "Yes",
                      "value": "Yes",
                      "text": "healthcare-provider-cya.option1",
                      "locale": locale
                    },
                    {
                      "checked": (data.Data.addAnotherHealthcareProvider === 'No'),
                      "id": "No",
                      "value": "No",
                      "text": "healthcare-provider-cya.option2",
                      "locale": locale
                    }
                  ]
                }) }}
            </div>
        </fieldset>
    </div>
    {{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>
