{#<pagetitle>NHS.UK | Where was the vaccine administered?</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/p/macro.njk' import p %}

<form action="add-vaccine-country" class="form" method="post" name="addVaccineCountry">
    <fieldset class="nhsuk-fieldset">
        {{
        heading({
            subHeading: {
                text: 'add-vaccine-country.section.heading'
            },
            text: 'add-vaccine-country.h1',
            classes: 'nhsuk-fieldset__heading',
            locale: locale
        })
        }}

        {% for error in errors %}
        <span class="nhsuk-error-message" id="add-vaccine-country-error" style="display: block;">
            {{ __({phrase: error.msg, locale: error.locale }) }}
        </span>
        {% endfor %}

        <div id="country" class="nhsuk-form-group {% if errors %} nhsuk-form-group--error {% endif %}">
            <div class="nhsuk-checkboxes nhsuk-checkbox-flex">

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="England" name="country" type="radio" value="England" />
                    <label class="nhsuk-label nhsuk-radios__label" for="England">
                        {{ __({phrase: "add-vaccine-country.item1", locale:locale}) }}
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="NI" name="country" type="radio" value="Northern Ireland" />
                    <label class="nhsuk-label nhsuk-radios__label" for="NI">
                        {{ __({phrase: "add-vaccine-country.item2", locale:locale}) }}
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="Scotland" name="country" type="radio" value="Scotland" />
                    <label class="nhsuk-label nhsuk-radios__label" for="Scotland">
                        {{ __({phrase: "add-vaccine-country.item3", locale:locale}) }}
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="Wales" name="country" type="radio" value="Wales" />
                    <label class="nhsuk-label nhsuk-radios__label" for="Wales">
                        {{ __({phrase: "add-vaccine-country.item4", locale:locale}) }}
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="IOM" name="country" type="radio" value="Isle of Man" />
                    <label class="nhsuk-label nhsuk-radios__label" for="IOM">
                        {{ __({phrase: "add-vaccine-country.item5", locale:locale}) }}
                    </label>
                </div>
            </div>
        </div>
    </fieldset>

    {# Pass VaccinationCount as the identifier of the vaccine list #}
    {{
    input({
        "formGroup": {
            classes: "nhsuk-date-input__item"
        },
        "label": {
            "text": "add-vaccine-details.input.hidden",
            locale: locale,
            "classes": "nhsuk-u-visually-hidden"
        },
        id: "vaccineCount",
        name: "vaccineCount",
        value: data.Vaccine.VaccinationCount,
        type: "hidden"
    })
    }}

    {{
    button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    })
    }}
</form>
