{#<pagetitle>NHS.UK | Died - check your answers</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/list/macro.njk' import list %}
{% from '../../../common/components/link/macro.njk' import link %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/details/macro.njk' import details %}

{{ heading({
        text: 'died-cya.h1',
        classes : 'nhsuk-heading-l govuk-heading-l',
        locale: locale
    })
}}
<div class="section-class nhsuk-grid-row">
    <div class="nhsuk-summary-list__row">
        <dl class="nhsuk-summary-list" id="died-cya">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    {{__({phrase: 'died-cya.section1.item1', locale:locale})}}
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{data.DisabledPersonDetails.DpTitle}}
                    {{data.DisabledPersonDetails.DpForename}}
                    {{data.DisabledPersonDetails.DpMiddlename}}
                    {{data.DisabledPersonDetails.DpSurname}}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/died-name">
                        {{__({phrase: 'common.change.link', locale:locale})}}
                        <span class="nhsuk-u-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    {{__({phrase: 'died-cya.section1.item2', locale:locale})}}
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ rf(data.DisabledPersonDetails.DpDateOfBirth) }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/died-dob">
                        {{__({phrase: 'common.change.link', locale:locale})}}
                        <span class="nhsuk-u-visually-hidden">dob</span>
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    {{__({phrase: 'died-cya.section1.item3', locale:locale})}}
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ rf(data.DisabledPersonDetails.DpDateOfDeath) }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/died-dod">
                        {{__({phrase: 'common.change.link', locale:locale})}}
                        <span class="nhsuk-u-visually-hidden">dod</span>
                    </a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    {{__({phrase: 'died-cya.section1.item4', locale:locale})}}
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{data.Data.NhsNumber}}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/died-nhs-number">
                        {{__({phrase: 'common.change.link', locale:locale})}}
                        <span class="nhsuk-u-visually-hidden">NHS Number</span>
                    </a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    {{__({phrase: 'died-cya.section1.item5', locale:locale})}}
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{data.DisabledPersonDetails.DisplayedAddress}}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/died-address">
                        {{__({phrase: 'common.change.link', locale:locale})}}
                        <span class="nhsuk-u-visually-hidden">address</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>

    {{
        link({
          "text": "common.button.continue",
          "href": "/your-application",
          "arrow": false,
          "classes": "nhsuk-button",
          locale: locale
        })
    }}
</div>