{#<pagetitle>NHS.UK | Healthcare provider data</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}

<form action="healthcare-provider-details" method="post" class="form">
    <fieldset class="nhsuk-fieldset ">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            {{ heading({
                subHeading:{text: 'healthcare-provider-details.section.heading'},
                text: 'healthcare-provider-details.h1',
                classes : 'nhsuk-heading-l govuk-heading-l',
                locale: locale
                })

            }}
        </legend>
        {{ p({text:'healthcare-provider-details.hint', classes:'nhsuk-hint', locale: locale}) }}
        {{
        input({
            "formGroup": {
                classes: "nhsuk-date-input__item"
            },
            "label": {
                "text": "count",
                "locale" : locale,
                "classes": "nhsuk-u-visually-hidden"
            },
            id: "healthcareProviderCount",
            name: "healthcareProviderCount",
            value: data.HealthcareProvider.ClinicCount,
            type: "hidden"
        })
    }}

        {{
        input({
            "formGroup": {
                   classes: "nhsuk-form-group"
            },
            "fieldset": {
                   classes: "nhsuk-fieldset"
            },
            "label": {
               "text": "healthcare-provider-details.input1",
               locale: locale
            },
            id: "clinicName",
            name: "clinicName",
            classes: "nhsuk-input",
            value: data.HealthcareProvider.ClinicName,
            "errorMessage": parseErrors(errors, 'clinicName')
        })
    }}
        {{
        input({
            "formGroup": {
                   classes: "nhsuk-form-group"
            },
            "fieldset": {
                   classes: "nhsuk-fieldset"
            },
            "label": {
               "text": "healthcare-provider-details.input2",
               locale: locale
            },
            id: "clinicAddressLine1",
            name: "clinicAddressLine1",
            classes: "nhsuk-input",
            value: data.HealthcareProvider.ClinicAddressLine1,
            "errorMessage": parseErrors(errors, 'clinicAddressLine1')
        })
    }}
        {{
        input({
            "formGroup": {
                   classes: "nhsuk-form-group"
            },
            "fieldset": {
                   classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "healthcare-provider-details.input3",
                "classes": "nhsuk-u-visually-hidden",
                locale: locale
            },
            id: "clinicAddressLine2",
            name: "clinicAddressLine2",
            classes: "nhsuk-input",
            value: data.HealthcareProvider.ClinicAddressLine2,
            "errorMessage": parseErrors(errors, 'clinicAddressLine2')
        })
    }}
        {{
        input({
            "formGroup": {
                   classes: "nhsuk-form-group"
            },
            "fieldset": {
                   classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "healthcare-provider-details.input4",
                locale: locale

            },
            id: "clinicTownOrCity",
            name: "clinicTownOrCity",
            classes: "nhsuk-input, nhsuk-u-width-two-thirds",
            value: data.HealthcareProvider.ClinicTownOrCity,
            "errorMessage": parseErrors(errors, 'clinicTownOrCity')
        })
    }}
        {{
        input({
            "formGroup": {
                   classes: "nhsuk-form-group"
            },
            "fieldset": {
                   classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "healthcare-provider-details.input5",
                locale: locale
            },
            id: "clinicCounty",
            name: "clinicCounty",
            classes: "nhsuk-input nhsuk-u-width-two-thirds",
            value: data.HealthcareProvider.ClinicCounty,
            "errorMessage": parseErrors(errors, 'clinicCounty')
        })
    }}
        {{
        input({
            "formGroup": {
                   classes: "nhsuk-form-group"
            },
            "fieldset": {
                   classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "healthcare-provider-details.input6",
                locale: locale

            },
            id: "clinicPostcode",
            name: "clinicPostcode",
            classes: "nhsuk-input nhsuk-input--width-10",
            value: data.HealthcareProvider.ClinicPostcode,
            "errorMessage": parseErrors(errors, 'clinicPostcode')
        })
    }}
        <br>
        <h2>{{ __({phrase: 'healthcare-provider-details.h2', locale: locale }) }}</h2>
        {{
        input({
            "formGroup": {
                classes: "nhsuk-form-group"
            },
            "fieldset": {
                classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "healthcare-provider-details.input7",
                locale: locale
            },
            id: "clinicConsultant",
            name: "clinicConsultant",
            classes: "nhsuk-input nhsuk-input--width-10",
            value: data.HealthcareProvider.ClinicConsultant,
            "errorMessage": parseErrors(errors, 'clinicConsultant')
        })
    }}
        {{
        input({
            "formGroup": {
                classes: "nhsuk-form-group"
            },
            "fieldset": {
                classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "healthcare-provider-details.input8",
                locale: locale

            },
            id: "clinicConsultantTelNo",
            name: "clinicConsultantTelNo",
            classes: "nhsuk-input nhsuk-input--width-10",
            value: data.HealthcareProvider.ClinicConsultantTelNo,
            "errorMessage": parseErrors(errors, 'clinicConsultantTelNo')
        })
    }}
        {{
        input({
            "formGroup": {
                classes: "nhsuk-form-group"
            },
            "fieldset": {
                classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "healthcare-provider-details.input9",
                locale: locale

            },
            id: "clinicConsultantEmail",
            name: "clinicConsultantEmail",
            classes: "nhsuk-input nhsuk-input--width-10",
            value: data.HealthcareProvider.ClinicConsultantEmail,
            "errorMessage": parseErrors(errors, 'clinicConsultantEmail')
        })
    }}
    </fieldset>
    {{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>