{#<pagetitle>NHS.UK | Medical records consent</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/list/macro.njk' import list %}
{% from '../../../common/components/link/macro.njk' import link %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from 'components/details/macro.njk' import details %}

{{ heading({
        subHeading:{
            text: 'other-med-record-consent.section.heading'
        },
        text: 'other-med-record-consent.h1',
        classes: 'nhsuk-heading-l govuk-heading-l',
        locale: locale
    })
}}
{{ p({text: 'other-med-record-consent.p1', locale:locale}) }}

{{ p({text: 'other-med-record-consent.p2', locale:locale}) }}

{{ p({text: 'other-med-record-consent.p3', locale:locale}) }}

<ul class="nhsuk-list nhsuk-list--bullet">
    <li>{{ __({ phrase: "other-med-record-consent.list.item1", locale: locale }) | safe }}</li>
    <li>{{ __({ phrase: "other-med-record-consent.list.item2", locale: locale }) | safe }}</li>
</ul>

{{ p({text: 'other-med-record-consent.p4', locale:locale}) }}

<p class="nhsuk-body">
    {{ __({phrase: "other-med-record-consent.p5.html", locale: locale }) | safe }}
</p>
<p class="nhsuk-body">
    {{ __({phrase: "other-med-record-consent.p6.html", locale: locale }) | safe }}
</p>

<h2 class="nhsuk-heading-l">{{ __({phrase: 'other-med-record-consent.section2.h2', locale: locale }) }}</h2>
{{ p({text: 'other-med-record-consent.section2.p1', locale:locale}) }}
{{ p({text: 'other-med-record-consent.section2.p2', locale:locale}) }}

<form action="other-med-records-consent" class="form" method="post">
    {{ button({
        type: "submit",
        text: "other-med-record-consent.button.text",
        locale: locale
    }) }}
</form>