{#<pagetitle>NHS.UK | Which vaccine did you have?</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/p/macro.njk' import p %}

<form action="add-covid19-type" class="form" method="post" name="addCovid19Type">
    <fieldset class="nhsuk-fieldset">
        {{
        heading({
        subHeading:{
        text: 'add-covid19-type.section.heading'
        },
        text: 'add-covid19-type.h1',
        classes: 'nhsuk-fieldset__heading',
        locale: locale
        })
        }}

        {% for error in errors %}
        <span class="nhsuk-error-message" id="add-covid19-type-error" style="display: block;">
            {{ __({phrase: error.msg, locale: error.locale }) }}
        </span>
        {% endfor %}

        <div id="type" class="nhsuk-form-group {% if errors %} nhsuk-form-group--error {% endif %}">
            <div class="nhsuk-checkboxes nhsuk-checkbox-flex">

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="Astra" name="type" type="radio" value="AstraZeneca" />
                    <label class="nhsuk-label nhsuk-radios__label" for="Astra">
                        {{ __({phrase: "add-covid19-type.item1", locale:locale}) }}
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="Pfizer" name="type" type="radio" value="Pfizer" />
                    <label class="nhsuk-label nhsuk-radios__label" for="Pfizer">
                        {{ __({phrase: "add-covid19-type.item2", locale:locale}) }}
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="Moderna" name="type" type="radio" value="Moderna" />
                    <label class="nhsuk-label nhsuk-radios__label" for="Moderna">
                        {{ __({phrase: "add-covid19-type.item3", locale:locale}) }}
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="Other" name="type" type="radio" value="Other / don't know" />
                    <label class="nhsuk-label nhsuk-radios__label" for="Other">
                        {{ __({phrase: "add-covid19-type.item4", locale:locale}) }}
                    </label>
                </div>

            </div>
        </div>
    </fieldset>
    
    {# Pass VaccinationCount as the identifier of the vaccine list #}
    {{
    input({
    "formGroup": {
    classes: "nhsuk-date-input__item"
    },
    "label": {
    "text": "add-vaccine-details.input.hidden",
    locale: locale,
    "classes": "nhsuk-u-visually-hidden"
    },
    id: "vaccineCount",
    name: "vaccineCount",
    value: data.Vaccine.VaccinationCount,
    type: "hidden"
    })
    }}

    {{
    button({
    type: "submit",
    text: "common.button.continue",
    locale: locale
    })
    }}
</form>
