<header class="page-header">
    <span class="heading-secondary {{ params.subHeading.classes }}">{{ __({phrase:params.subHeading.text, locale: params.locale}) }}</span>
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="{{ params.classes }}">{{ __({phrase: params.text, locale: params.locale}) }}</h1>
    </legend>
</header>