{#<pagetitle>NHS.UK | Summary of vaccine history</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/radios/macro.njk' import radios %}
{% from '../../../common/components/link/macro.njk' import link %}

{{
     heading({
         subHeading:{ text: 'add-vaccine-summary.heading'},
         text: 'add-vaccine-summary.h1',
         classes: 'nhsuk-fieldset__heading',
         locale: locale
     })
}}
{% if data.Info %}
    <div class="nhsuk-error-summary nhsuk-u-margin-top-4" role="alertdialog" tabindex="-1">
      <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          {{ __({phrase: 'common.errors.heading', locale: locale }) }}
      </h2>
      <div class="nhsuk-error-summary__body">
        <ul class="nhsuk-list nhsuk-error-summary__list">
            <li class="nhsuk-error-message">{{ __({phrase: data.Info, locale: locale }) }}</li>
        </ul>
      </div>
    </div>
{% endif %}

<div id="add-vaccine-cya">
    <table>
        <tr>
            <th>{{ __({phrase: 'add-vaccine-summary.table.heading1', locale: locale }) }}</th>
            <th>{{ __({phrase: 'add-vaccine-summary.table.heading2', locale: locale }) }}</th>
            <th>{{ __({phrase: 'add-vaccine-summary.table.heading3', locale: locale }) }}</th>
        </tr>
        {% for vaccine in data.DisplayedVaccines %}
        <tr>
          <td>{{ __({phrase: vaccine.VaccinationType, locale:locale}) }}</td>
          <td>{{rf(vaccine.VaccinationDate)}}</td>
          <td>
            <a href="/add-vaccine-details?sessionId={{vaccine.SessionID}}&vaccineCount={{vaccine.VaccinationCount}}">{{ __({phrase: 'common.change.link', locale: locale }) }}</a> {{ __({phrase: 'common.word.or', locale: locale }) }}
            <form><a class="deleteVaccine" data-vaccine="{{vaccine.VaccinationType}}" href="/delete-vaccine?sessionId={{vaccine.SessionID}}&vaccineCount={{vaccine.VaccinationCount}}">{{ __({phrase: 'common.delete.link', locale: locale }) }}</a></form>
          </td>
        </tr>
        {% endfor %}
    </table>
</div>

<form action="add-vaccine-summary" method="post" class="form">
    <div class="nhsuk-form-group {% if errors %} nhsuk-form-group--error {% endif %}">
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                {{
                    p({
                        "text": 'add-vaccine-summary.h2',
                        "classes" : 'nhsuk-heading-l govuk-heading-l',
                        locale:locale
                   })
                }}
            </legend>
            {% for error in errors %}
                <span class="nhsuk-error-message">
                    {{ __({phrase: error.msg, locale: error.locale }) }}
                </span>
            {% endfor %}

            {{ radios({
              "idPrefix": "addanothervaccine-error",
              "name": "addAnotherVaccine",
              "items": [
                {
                  "checked": (data.Data.addAnotherVaccine === 'Yes'),
                  "id": "yes",
                  "value": "Yes",
                  "text": "add-vaccine-summary.option1",
                  "locale": locale
                },
                {
                  "checked": (data.Data.addAnotherVaccine === 'No'),
                  "id": "no",
                  "value": "No",
                  "text": "add-vaccine-summary.option2",
                  "locale": locale
                }
              ]
            }) }}
        </fieldset>
    </div>
   {{ button({
       type: "submit",
       text: "common.button.continue",
       locale: locale
   }) }}
</form>

