{#<pagetitle>NHS.UK | Verify date of birth</pagetitle>#}
{% from '../../../common/components/checkboxes/macro.njk' import checkboxes %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from 'components/hint/macro.njk' import hint %}
{% from '../../../common/components/p/macro.njk' import p %}

<form action="verification-dob" class="form" method="post" name="verificationDOB">
  <fieldset class="nhsuk-fieldset" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--l">
      {{ heading({
        subHeading: { text: 'verification-dob.section.heading'},
        text:  'verification-dob.h1',
        classes: 'nhsuk-heading-l govuk-heading-l',
        locale: locale
      }) }}
    </legend>
    {{ p({text:'verification-dob.hint', classes:'nhsuk-hint', locale: locale}) }}

    {% if errors %}
      <div class="nhsuk-form-group nhsuk-form-group--error">
        <div class="nhsuk-error-summary__body">
          {% for error in errors %}
            <span class="nhsuk-error-message" id="{{error.param}}-error">
              {{ __({phrase: error.msg, locale: error.locale }) }}
            </span>
          {% endfor %}
        </div>
      {% endif %}

      {{ input({
        "formGroup": {
               classes: "nhsuk-date-input__item"
        },
         "label": {
           "text": 'verification-dob.input1',
           locale: locale
         },
      value:  data.verificationDOB | getDigitFromDate('day', data.body.dobDay),
      id: "dobDay",
      name: "dobDay",
      classes: "nhsuk-input--width-2",
      inputmode: "numeric"
    }) }}
      {{ input({
        "formGroup": {
               classes: "nhsuk-date-input__item"
        },
        "fieldset": {
               classes: "nhsuk-date-input__item"
        },
         "label": {
           "text": 'verification-dob.input2',
           locale: locale
         },
      value:  data.verificationDOB | getDigitFromDate('month', data.body.dobMonth),
      id: "dobMonth",
      name: "dobMonth",
      classes: "nhsuk-input--width-2",
      inputmode: "numeric"
    }) }}
      {{ input({
        "formGroup": {
               classes: "nhsuk-date-input__item"
        },
        "fieldset": {
               classes: "nhsuk-date-input__item"
        },
         "label": {
          "text": 'verification-dob.input3',
          locale: locale
         },
      value:  data.verificationDOB | getDigitFromDate('year', data.body.dobYear),
      id: "dobYear",
      name: "dobYear",
      classes: "nhsuk-input--width-4",
      inputmode: "numeric"
    }) }}
      {% if errors %}
      </div>
    {% endif %}
  </fieldset>
  <br/>
  {{ button({
      type: "submit",
      text: "common.button.continue",
      locale: locale
    }) }}
</form>