{#<pagetitle>NHS.UK | Nominated person - name</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}

{{ heading({
      subHeading:{ text: 'representative-name.section.heading'},
      text: 'representative-name.h1',
      classes: 'nhsuk-fieldset__heading',
      locale: locale
    })
}}

<form action="representative-name" method="post" class="form">
    {{ p({text:'representative-name.hint', classes:'nhsuk-hint', locale: locale}) }}
    {{
        input({
            "formGroup": {
                   classes: "nhsuk-form-group"
            },
            "fieldset": {
                   classes: "nhsuk-fieldset"
            },
            "label": {
               "text": "representative-name.input1",
               locale:locale
            },
            id: "RepresentativeForename",
            name: "RepresentativeForename",
            classes: "nhsuk-u-width-two-thirds",
            value: data.Representative.RepresentativeForename,
            "errorMessage": parseErrors(errors, 'RepresentativeForename')
        })
    }}

    {{
        input({
            "formGroup": {
                   classes: "nhsuk-form-group"
            },
            "fieldset": {
                   classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "representative-name.input2",
                locale:locale
            },
            id: "RepresentativeMiddlename",
            name: "RepresentativeMiddlename",
            classes: "nhsuk-u-width-two-thirds",
            value: data.Representative.RepresentativeMiddlename,
            "errorMessage": parseErrors(errors, 'RepresentativeMiddlename')
        })
    }}

    {{
        input({
            "formGroup": {
                   classes: "nhsuk-form-group"
            },
            "fieldset": {
                   classes: "nhsuk-fieldset"
            },
            "label": {
                "text": "representative-name.input3",
                locale:locale
            },
            id: "RepresentativeSurname",
            name: "RepresentativeSurname",
            classes: "nhsuk-u-width-two-thirds",
            value: data.Representative.RepresentativeSurname,
            "errorMessage": parseErrors(errors, 'RepresentativeSurname')
        })
    }}
    <br/>
    {{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>
