{#<pagetitle>NHS.UK | Died - name</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/select/macro.njk' import select %}
{% from '../../../common/components/label/macro.njk' import label %}
{% from 'components/hint/macro.njk' import hint %}

<form action="died-name" method="post" class="form">
    <fieldset class="nhsuk-fieldset">
    {{ heading({
        subHeading:{
            text: 'died-name.section.heading'
        },
        text: 'died-name.h1',
        classes: 'nhsuk-heading-l govuk-heading-l',
        locale: locale
        })
    }}
    {{ p({
      "text": 'died-name.hint',
      "classes" : 'nhsuk-hint',
      locale:locale
    }) }}


    <div class="nhsuk-form-group {% if errors %}{% for error in errors %}{% if error.param === 'DpTitle'%} nhsuk-form-group--error {% endif %}{% endfor %}{% endif %}">

      {% if errors %} {% for error in errors %} {% if error.param === 'DpTitle' %}
        <span class="nhsuk-error-message">{{ __({phrase: error.msg, locale: error.locale }) }}</span>
      {% endif %} {% endfor %} {% endif %}
        {{ select({
          "id": "DpTitle",
          "name": "DpTitle",
          "errorMessage": parseErrors(errors, 'DpTitle'),
          "label": {
                 "text": "died-name.titlelabel",
                 locale: locale
          },
         "items": [
                    {
                      "value": '',
                      "text": '',
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === ''
                    },
                    {
                      "value": 'Mr',
                      "text": 'common.title.mr',
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Mr'
                    },
                    {
                      "value": 'Mrs',
                      "text": "common.title.mrs",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Mrs'
                    },
                    {
                      "value": 'Miss',
                      "text": "common.title.miss",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Miss'
                    },
                    {
                      "value": 'Ms',
                      "text": "common.title.ms",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Ms'
                    },
                    {
                      "value": 'Mx',
                      "text": "common.title.mx",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Mx'
                    },
                    {
                      "value": 'Master',
                      "text": "common.title.master",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Master'
                    },
                    {
                      "value": 'Dr',
                      "text": "common.title.dr",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Dr'
                    },
                    {
                      "value": 'Sr',
                      "text": "common.title.sr",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Sr'
                    },
                    {
                      "value": 'Fr',
                      "text": "common.title.fr",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Fr'
                    },
                    {
                      "value": 'Sir',
                      "text": "common.title.sir",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Sir'
                    },
                    {
                      "value": 'Madam',
                      "text": "common.title.madam",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Madam'
                    },
                    {
                      "value": 'Lady',
                      "text": "common.title.lady",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Lady'
                    },
                    {
                      "value": 'Lord',
                      "text": "common.title.lord",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Lord'
                    },
                    {
                      "value": 'Br',
                      "text": "common.title.br",
                      locale: locale,
                      selected : data.DisabledPersonDetails.DpTitle === 'Br'
                    }
                  ]
        }) }}
    </div>

    {{ input({
      "label": {
       "text": "died-name.input1",
       locale:locale
     },
      "id": "DpForename",
      "name": "DpForename",
      "value": data.DisabledPersonDetails.DpForename,
        "errorMessage": parseErrors(errors, 'DpForename'),
    "classes": "nhsuk-input--width-20"
    }) }}

    {{ input({
      "label": {
         "text": "died-name.input2",
         locale:locale
       },
      "id": "DpMiddlename",
      "name": "DpMiddlename",
      "value": data.DisabledPersonDetails.DpMiddlename,
      "errorMessage": parseErrors(errors, 'DpMiddlename'),
    "classes": "nhsuk-input--width-20"
    }) }}

    {{ input({
      "label": {
       "text": "died-name.input3",
       locale:locale
     },
      "id": "DpSurname",
      "name": "DpSurname",
      "value": data.DisabledPersonDetails.DpSurname,
     "errorMessage": parseErrors(errors, 'DpSurname'),
    "classes": "nhsuk-input--width-20"
    }) }}

    <br>
    {{ button({
      type: "submit",
      text: "common.button.continue",
      locale: locale
    }) }}
  </fieldset>
</form>