{#<pagetitle>NHS.UK | Making a claim</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/list/macro.njk' import list %}
{% from '../../../common/components/link/macro.njk' import link %}

{% if (locale === 'en') %}
	<a href="?lang=cy">{{ __({ phrase: 'lng.welsh', locale: locale}) }}</a>
{% else %}
	<a href="?lang=en">{{ __({ phrase: 'lng.english', locale: locale}) }}</a>
{% endif %}

{% if data.Timeout %}
	<div class="nhsuk-error-summary nhsuk-u-margin-top-4" role="alertdialog" tabindex="-1">
		<h2 class="nhsuk-error-summary__title" id="error-summary-title">
			{{ __({phrase: 'common.errors.heading', locale: locale }) }}
		</h2>
		<div class="nhsuk-error-summary__body">
			<ul class="nhsuk-list nhsuk-error-summary__list">
				<li class="nhsuk-error-message">{{ __({phrase: data.Timeout, locale: locale }) }}</li>
			</ul>
		</div>
	</div>
{% endif %}

{{ heading({
        text: 'index.h1',
        locale: locale
    })
}}

{{ p({text: 'index.p1', classes: 'nhsuk-body', locale: locale}) }}

<ul class="nhsuk-list nhsuk-list--bullet">
	<li>{{ __({ phrase: "index.list.item1", locale: locale }) }}</li>
	<li>{{ __({ phrase: "index.list.item2.html", locale: locale }) | safe }}</li>
	<li>{{ __({ phrase: "index.list.item3.html", locale: locale }) | safe }}</li>
</ul>

<h2>{{ __({phrase: 'index.section2.h2', locale: locale }) }}</h2>

<div class='nhsuk-action-link'>
	{{
        link({
          "text": "index.action.link1",
          "href": "/what-you-need",
          "arrow": false,
          "classes": "nhsuk-button",
          locale: locale
        })
    }}
	{{ p({text: 'index.section3.h1', locale: locale}) }}
	{{
        link({
          "text": "index.action.link2",
          "href": "/existing-claim",
          "arrow": false,
          "classes": "nhsuk-button nhsuk-button--secondary",
          locale: locale
        })
    }}
</div>
<h2>{{ __({phrase: 'index.section3.h2', locale: locale }) }}</h2>
{{ p({text: 'index.section3.p1', locale: locale}) }}

<ul class="nhsuk-list nhsuk-list--bullet">
	<li>{{ __({ phrase: "index.section3.list.item1.html", locale: locale }) | safe }}</li>
	<li>{{ __({ phrase: "index.section3.list.item2", locale: locale }) }}</li>
</ul>

<ul class="nhsuk-list nhsuk-list--bullet">
	<li>{{ __({ phrase: "common.contact.email.mailto.html", locale: locale }) | safe }}</li>
	<li>{{ __({ phrase: "common.contact.telephone.html", locale: locale }) | safe }}</li>
</ul>

<h2>{{ __({phrase: 'index.section4.h2', locale: locale }) }}</h2>
{{ p({text: 'index.section4.p1', locale: locale}) }}

<ul class="nhsuk-list nhsuk-list--bullet">
	<li>{{ __({ phrase: "common.contact.email.mailto.html", locale: locale }) | safe }}</li>
	<li>{{ __({ phrase: "common.contact.telephone.html", locale: locale }) | safe }}</li>
</ul>