{#<pagetitle>NHS.UK | Continue making a claim</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}

{{ heading({
      subHeading:{text: 'user-verify.section.heading'},
      text: 'user-verify.h1',
      classes: 'nhsuk-fieldset__heading',
      locale: locale
    })
}}

<form action="/user-verify" method="post">

	<p class="nhsuk-body">
		{{ __({phrase: "user-verify.p1", locale: locale }, {Email: data.MetaData.Email}) }}
	</p>
	<p class="nhsuk-body">
		{{ __({phrase: "user-verify.p2.html", locale: locale }) | safe }}
	</p>
	<p class="nhsuk-body">
		{{ __({phrase: "user-verify.p3", locale: locale }) }}
	</p>
	<p class="nhsuk-body">
		{{ __({phrase: "user-verify.p4.html", locale: locale }) | safe }}
	</p>

	{{ input({
            "formGroup": {
                   classes: "nhsuk-form-group"
            },
            "fieldset": {
                   classes: "nhsuk-fieldset"
            },
             "label": {
               "text": "user-verify.input",
               locale: locale
             },

          id: "code",
          name: "code",
          classes: "nhsuk-input--width-20",
          "errorMessage": parseErrors(errors, 'code')
        }) }}
	{{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>