{#<pagetitle>NHS.UK | About you - Relationship</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/p/macro.njk' import p %}

<form action="about-you-died-relationship" class="form" method="post" name="aboutYoudiedRelationship">
    <fieldset class="nhsuk-fieldset">
        {{ heading({
            subHeading: { text: 'about-you-died-relationship.section.heading'},
            text:  'about-you-died-relationship.h1',
            classes: 'nhsuk-heading-l govuk-heading-l',
            locale: locale
        }) }}
        <div class="nhsuk-form-group {% if errors %} nhsuk-form-group--error {% endif %}">
            {% for error in errors %}
                <span class="nhsuk-error-message" id="about-you-dobDay-error" style="display: block;">
                            {{ __({phrase: error.msg, locale: locale }) }}
                </span>
            {% endfor %}
            <div class="nhsuk-container">
                <div class="nhsuk-checkboxes nhsuk-checkbox-flex">
                    {% for relationship in keys(data.RelationshipList) %}
                        {% if (__({phrase: data.RelationshipList[relationship], locale:locale})).length > 0 %}
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="{{ __({phrase: data.RelationshipList[relationship], locale:'en'}) }}" name="CdRelationship" type="radio" value="{{ __({phrase: data.RelationshipList[relationship], locale:'en'}) }}"
                                {% if (__({phrase: data.RelationshipList[relationship], locale:'en'}) === data.ClaimantDetails.CdRelationship) %}
                                     checked="true"
                                {% endif %}
                                >
                                <label class="nhsuk-label nhsuk-radios__label" for="{{ __({phrase: data.RelationshipList[relationship], locale:'en'}) }}">
                                    {{ __({phrase: data.RelationshipList[relationship], locale:locale}) }}
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </fieldset>
    <br/>
    {{ button({
      type: "submit",
      text: "common.button.continue",
      locale: locale
    }) }}
</form>

