{#<pagetitle>NHS.UK | Contact the Vaccine Damage Payment Team</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/list/macro.njk' import list %}

<section class="section-class">
    <div class="nhsuk-grid-row">

        {{ heading({
            subHeading: { text: ''},
            text:  'contact-vdps-team.title',
            classes: 'nhsuk-heading-l',
            locale: locale
        }) }}
        {{ p({text: 'contact-vdps-team.p.one', locale: locale}) }}

        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>{{ __({ phrase: "common.contact.email.mailto.html", locale: locale }) | safe }}</li>
            <li>{{ __({ phrase: "common.contact.telephone.html", locale: locale }) | safe }}</li>
        </ul>
        <br>
    </div>
</section>