<p class="nhsuk-body {{ params.classes }}">
    {% if params.strong %}
    <strong>
    {% endif %}
    {{ __({phrase: params.text, locale: params.locale },{Email: params.data.MetaData.Email}) }}
    {% if params.strong %}
    </strong>
    {% endif %}
</p>