{#<pagetitle>NHS.UK | NHS.UK | Vaccination notes</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/label/macro.njk' import label %}
{% from '../../../common/components/list/macro.njk' import list %}
{% from '../../../common/components/p/macro.njk' import p %}
{% from 'components/hint/macro.njk' import hint %}

<form action="vaccine-notes" method="post" class="form">
    <span class="heading-secondary ">{{ __({phrase: 'vaccine-notes.section.heading', locale: locale }) }}</span>
    <label for="description">
        <h1 class="nhsuk-heading-l govuk-heading-l">{{ __({phrase: 'vaccine-notes.h1', locale: locale }) }}</h1>
    </label>
    <div class="nhsuk-form-group {% if errors %} nhsuk-form-group--error {% endif %}">
        
        {{ p({
            "text": 'vaccine-notes.hint1',
            classes: 'nhsuk-hint',
            locale: locale
        }) }}

      {% if data.Data.ApplyingFor == "Deceased" %}
        
        {{ list({
                items: [
                    "vaccine-notes.died.hint2",
                    "vaccine-notes.died.hint3",
                    "vaccine-notes.died.hint4",
                    "vaccine-notes.died.hint5",
                    "vaccine-notes.died.hint6"
                ],
                classes: 'nhsuk-hint nhsuk-list--bullet',
                locale: locale
        }) }}

      {% elif data.Data.ApplyingFor == "Myself" %}

        {{ list({
                items: [
                    "vaccine-notes.hint2",
                    "vaccine-notes.hint3",
                    "vaccine-notes.hint4",
                    "vaccine-notes.hint5",
                    "vaccine-notes.hint6"
                ],
                classes: 'nhsuk-hint nhsuk-list--bullet',
                locale: locale
        }) }}  
      
      {% else %}

        {{ list({
                items: [
                    "vaccine-notes.other.hint2",
                    "vaccine-notes.other.hint3",
                    "vaccine-notes.other.hint4",
                    "vaccine-notes.other.hint5",
                    "vaccine-notes.other.hint6"
                ],
                classes: 'nhsuk-hint nhsuk-list--bullet',
                locale: locale
        }) }}


      
      {% endif %}

        {% for error in errors %}
            <span class="nhsuk-error-message" id="addressLine1-error" >
                {{ __({phrase: error.msg, locale: error.locale }) }}
            </span>
        {% endfor %}
        <! –– Single line to avoid whitespace before and after text value ––>
        <textarea class="nhsuk-textarea" id="description" name="description" rows="5" aria-describedby="description">{{ data.VaccineNotes.Description }}</textarea>
        <br/>
        {{ p({
          id: "count",
          text: "vaccine-notes.limit",
          classes: "nhsuk-label",
          locale: locale
        }) }}
    </div>
    <br>

    {{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>