{#<pagetitle>NHS.UK | Claim submission</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/list/macro.njk' import list %}
{% from '../../../common/components/link/macro.njk' import link %}
{% from '../../../common/components/heading/macro.njk' import heading %}

<div class="nhsuk-grid-column-full">
    {{ heading({
        subHeading: { text: 'done.section.heading'},
        text: 'done.h1',
        locale: locale
      })
    }}
    <h2>{{ __({phrase: 'done.section1.h1', locale: locale }) }}</h2>

    <h2>{{ __({phrase: 'done.section1.h2', locale: locale }) }}</h2>

    <p>
        {{ __({phrase: 'done.section1.item1', locale: locale }) }}
        {{data.Now}}
    </p>
    <p>{{ __({phrase: 'done.section1.item2', locale: locale }) }}
        {{data.MetaData.Email}}
        {{ __({phrase: 'done.section1.item3', locale: locale }) }}</p>

    {{ p({text: 'done.section1.item4', locale: locale}) }}

    <p class="nhsuk-body">
        {{ __({phrase: 'common.contact.email.mailto.html', locale: locale }) | safe }}
    </p>

    <ul class='no-bullets '>
        <li class='no-indent'>{{ __({phrase: 'done.section1.item6', locale: locale }) }}</li>
        <li class='indent'>{{ __({phrase: 'common.contact.address.html',locale: locale }) | safe }}</li>
    </ul>
    <br/>

    {{ p({text: 'done.section2.p1', locale: locale}) }}
    {{
        list({
            items: [
                "done.section2.list.item1",
                "done.section2.list.item2",
                "done.section2.list.item3",
                "done.section2.list.item4"
            ],
            classes: 'nhsuk-list--bullet',
            locale: locale
        })
    }}
    <h2>{{ __({phrase: 'done.section2.h2', locale: locale }) }}</h2>
    {{ p({text: 'done.section2.p2', locale: locale}) }}
    {{ p({text: 'done.section2.p3', locale: locale}) }}

    <p class="nhsuk-body">
        {{ __({phrase: 'done.section2.p4.html', locale: locale }) | safe }}
    </p>

    <h2>{{ __({phrase: 'done.section3.h2', locale: locale }) }}</h2>
    <br>
    {{ p({text: 'done.section3.p1', locale: locale}) }}
    <ul class="nhsuk-list nhsuk-list--bullet">
        <li>{{ __({ phrase: "common.contact.email.mailto.html", locale: locale }) | safe }}</li>
        <li>{{ __({ phrase: "common.contact.telephone.html", locale: locale }) | safe }}</li>
    </ul>
</div>