{#<pagetitle>NHS.UK | About you - name</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/select/macro.njk' import select %}
{% from '../../../common/components/label/macro.njk' import label %}

{% from 'components/hint/macro.njk' import hint %}

<form action="about-you-name" method="post" class="form">
  <fieldset class="nhsuk-fieldset">
      {{ heading({
          subHeading:{
              text: 'about-you-name.section.heading'
          },
          text: 'about-you-name.h1',
          classes: 'nhsuk-heading-l govuk-heading-l',
          locale: locale
          })
      }}

    {{ p({
      "text": 'about-you-name.hint',
      "classes" : 'nhsuk-hint',
      locale:locale
    }) }}
    <div class="nhsuk-form-group {% if errors %}{% for error in errors %}{% if error.param === 'CdTitle'%} nhsuk-form-group--error {% endif %}{% endfor %}{% endif %}">
      {% if errors %} {% for error in errors %} {% if error.param === 'CdTitle' %}
        <span class="nhsuk-error-message">{{ __({phrase: error.msg, locale: error.locale }) }}</span>
      {% endif %} {% endfor %} {% endif %}
        {{ select({
          "id": "CdTitle",
          "name": "CdTitle",
          "errorMessage": parseErrors(errors, 'CdTitle'),
          locale: locale,
          "label": {
                 "text": "about-you-name.titlelabel",
                 locale: locale
          },
        "items": [
            {
              "value": '',
              "text": '',
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === ''
            },
            {
              "value": 'Mr',
              "text": 'common.title.mr',
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Mr'
            },
            {
              "value": 'Mrs',
              "text": "common.title.mrs",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Mrs'
            },
            {
              "value": 'Miss',
              "text": "common.title.miss",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Miss'
            },
            {
              "value": 'Ms',
              "text": "common.title.ms",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Ms'
            },
            {
              "value": 'Mx',
              "text": "common.title.mx",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Mx'
            },
            {
              "value": 'Master',
              "text": "common.title.master",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Master'
            },
            {
              "value": 'Dr',
              "text": "common.title.dr",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Dr'
            },
            {
              "value": 'Sr',
              "text": "common.title.sr",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Sr'
            },
            {
              "value": 'Fr',
              "text": "common.title.fr",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Fr'
            },
            {
              "value": 'Sir',
              "text": "common.title.sir",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Sir'
            },
            {
              "value": 'Madam',
              "text": "common.title.madam",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Madam'
            },
            {
              "value": 'Lady',
              "text": "common.title.lady",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Lady'
            },
            {
              "value": 'Lord',
              "text": "common.title.lord",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Lord'
            },
            {
              "value": 'Br',
              "text": "common.title.br",
              locale: locale,
              selected : data.ClaimantDetails.CdTitle === 'Br'
            }
          ]
        }) }}
    </div>

    {{ input({
      "label": {
       "text": "about-you-name.input1",
       locale:locale
     },
      "id": "CdForename",
      "name": "CdForename",
      "value": data.ClaimantDetails.CdForename,
        "errorMessage": parseErrors(errors, 'CdForename'),
    "classes": "nhsuk-input--width-20"
    }) }}

    {{ input({
      "label": {
         "text": "about-you-name.input2",
         locale:locale
       },
      "id": "CdMiddlename",
      "name": "CdMiddlename",
      "value": data.ClaimantDetails.CdMiddlename,
      "errorMessage": parseErrors(errors, 'CdMiddlename'),
    "classes": "nhsuk-input--width-20"
    }) }}

    {{ input({
      "label": {
       "text": "about-you-name.input3",
       locale:locale
     },
      "id": "CdSurname",
      "name": "CdSurname",
      "value": data.ClaimantDetails.CdSurname,
     "errorMessage": parseErrors(errors, 'CdSurname'),
    "classes": "nhsuk-input--width-20"
    }) }}

    <br>
    {{ button({
      type: "submit",
      text: "common.button.continue",
      locale: locale
    }) }}
  </fieldset>
</form>