{#<pagetitle>NHS.UK | Died - date of death</pagetitle>#}
{% from '../../../common/components/checkboxes/macro.njk' import checkboxes %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from 'components/hint/macro.njk' import hint %}
{% from '../../../common/components/p/macro.njk' import p %}

<form action="died-dod" class="form" method="post" name="diedYouDOD">
  <div class="nhsuk-form-group {{ 'nhsuk-form-group--error' if errors }} ">
    <fieldset class="nhsuk-fieldset" role="group">
      <legend class="nhsuk-fieldset__legend nhsuk-label--l">
        {{ heading({
            subHeading: { text: 'died-dod.section.heading'},
            text:  'died-dod.h1',
            classes: 'nhsuk-heading-l govuk-heading-l',
            locale: locale
        }) }}
      </legend>

      {{ p({text:'died-dod.hint', classes:'nhsuk-hint', locale: locale}) }}

      {% if errors %}
        <div class="nhsuk-form-group nhsuk-form-group--error">
          <div class="nhsuk-error-summary__body">
            {% for error in errors %}
              <span class="nhsuk-error-message" id="{{error.param}}-error">
                {{ __({phrase: error.msg, locale: error.locale }) }}
              </span>
            {% endfor %}
          </div>
        {% endif %}

        {{ input({
        "formGroup": {
               classes: "nhsuk-date-input__item"
        },
         "label": {
           "text": 'died-dod.input1',
           locale: locale
         },

      id: "dodDay",
      name: "dodDay",
      classes: "nhsuk-input--width-2",
      value:  data.DisabledPersonDetails.DpDateOfDeath | getDigitFromDate('day', data.body.dodDay) ,
      inputmode: "numeric"
    }) }}
        {{ input({
        "formGroup": {
               classes: "nhsuk-date-input__item"
        },
        "fieldset": {
               classes: "nhsuk-date-input__item"
        },
         "label": {
           "text": 'died-dod.input2',
           locale: locale
         },

      id: "dodMonth",
      name: "dodMonth",
      classes: "nhsuk-input--width-2",
      value: data.DisabledPersonDetails.DpDateOfDeath | getDigitFromDate('month', data.body.dodMonth) ,
      inputmode: "numeric"
    }) }}
        {{ input({
        "formGroup": {
               classes: "nhsuk-date-input__item"
        },
        "fieldset": {
               classes: "nhsuk-date-input__item"
        },
         "label": {
          "text": 'died-dod.input3',
          locale: locale
         },

      id: "dodYear",
      name: "dodYear",
      classes: "nhsuk-input--width-4",
      value: data.DisabledPersonDetails.DpDateOfDeath | getDigitFromDate('year', data.body.dodYear) ,
      inputmode: "numeric"
    }) }}
      </fieldset>
    </div>
    <br/>
    {{ button({
      type: "submit",
      text: "common.button.continue",
      locale: locale
    }) }}
  </form>