{#<pagetitle>NHS.UK | About you - address</pagetitle>#}
{% from '../../../common/components/checkboxes/macro.njk' import checkboxes %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/p/macro.njk' import p %}

<form action="about-you-address" method="post" class="form">
  <fieldset class="nhsuk-fieldset ">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      {{ heading({
          subHeading: { text: 'about-you-address.section.heading'},
          text:  'about-you-address.h1',
          classes: 'nhsuk-heading-l govuk-heading-l',
          locale: locale
      }) }}
    </legend>
    {{ input({
          "label": {
             "text": "about-you-address.input1",
             locale:locale
           },
          "id": "CdAddressLine1",
          "name": "CdAddressLine1",
          value: data.ClaimantDetails.CdAddressLine1,
          "errorMessage": parseErrors(errors, 'CdAddressLine1'),
          "classes": ""
        }) }}
    {{ input({
            "label": {
                "text": "about-you-address.input2",
                locale:locale
             },
            "id": "CdAddressLine2",
            "name": "CdAddressLine2",
            value: data.ClaimantDetails.CdAddressLine2,
            "errorMessage": parseErrors(errors, 'CdAddressLine2'),
            "classes": ""
        }) }}

    {{ input({
          "label": {
             "text": "about-you-address.input3",
             locale:locale
           },
          "id": "CdTownOrCity",
          "name": "CdTownOrCity",
          value: data.ClaimantDetails.CdTownOrCity,
          "errorMessage": parseErrors(errors, 'CdTownOrCity'),
          "classes": "nhsuk-u-width-two-thirds"
        }) }}
    {{ input({
          "label": {
             "text": "about-you-address.input4",
             locale:locale
           },
          "id": "CdCounty",
          "name": "CdCounty",
          value: data.ClaimantDetails.CdCounty,
          "errorMessage": parseErrors(errors, 'CdCounty'),
          "classes": "nhsuk-u-width-two-thirds"
        }) }}
    {{ input({
          "label": {
             "text": "about-you-address.input5",
             locale:locale
           },
          "id": "CdPostcode",
          "name": "CdPostcode",
          value: data.ClaimantDetails.CdPostcode,
          "errorMessage": parseErrors(errors, 'CdPostcode'),
          "classes": "nhsuk-input--width-10"
        }) }}

  </fieldset>
  <br>
  {{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>