{#<pagetitle>NHS.UK | Vaccinations summary</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/list/macro.njk' import list %}
{% from '../../../common/components/link/macro.njk' import link %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/details/macro.njk' import details %}
{{ heading({
    subHeading: { text: 'vaccine-cya.section.heading'},
    text: 'vaccine-cya.h1',
    classes : 'nhsuk-heading-l govuk-heading-l',
    locale: locale
  })
}}
<div class="section-class nhsuk-grid-row">
    <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            {{ __({phrase: 'vaccine-cya.list.item1', locale: locale }) }}
          </dt>
          <dd class="nhsuk-summary-list__value">
            <ul>
              {% for vaccine in data.DisplayedVaccines %}
                  <li>{{ __({phrase: vaccine.VaccinationType, locale:locale}) }}</li>
              {% endfor %}
            </ul>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            {% if data.Data.WhyMakingClaim === 'polio'%}
                <a href="/polio-dates">
                    {{ __({phrase: 'common.change.link', locale: locale }) }}<span class="nhsuk-u-visually-hidden">{{ __({phrase: 'vaccine-cya.list.item1', locale: locale }) }}</span>
                </a>
            {% else %}
                <a href="/add-vaccine-summary">
                    {{ __({phrase: 'common.change.link', locale: locale }) }}<span class="nhsuk-u-visually-hidden">{{ __({phrase: 'vaccine-cya.list.item1', locale: locale }) }}</span>
                </a>
            {% endif %}
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            {{ __({phrase: 'vaccine-cya.list.item2', locale: locale }) }}
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ __({phrase: 'vaccine-cya.list.item3', locale: locale }) }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
              {% if data.Data.WhyMakingClaim === 'polio'%}
                  <a href="/polio-notes">
                    {{ __({phrase: 'common.change.link', locale: locale }) }}<span class="nhsuk-u-visually-hidden">{{ __({phrase: 'vaccine-cya.list.item2', locale: locale }) }}</span>
                  </a>
              {% else %}
                  <a href="/vaccine-notes">
                    {{ __({phrase: 'common.change.link', locale: locale }) }}<span class="nhsuk-u-visually-hidden">{{ __({phrase: 'vaccine-cya.list.item2', locale: locale }) }}</span>
                  </a>
              {% endif %}
          </dd>
        </div>
    </dl>
    <br>
    {{ link({
      "text": "common.button.continue",
      "href": "/your-application",
      "arrow": false,
      "classes": "nhsuk-button",
      locale : locale
    }) }}
</div>
