{#<pagetitle>NHS.UK | Who are you applying for</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/list/macro.njk' import list %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/radios/macro.njk' import radios %}
{% from 'components/hint/macro.njk' import hint %}



<div class="nhsuk-form-group">
	<form action="who-are-you-applying-for" class="form" method="post" name="applyforForm">
		<div class="nhsuk-form-group
            {% if errors %}
                {% for error in errors %}
                    {% if errors and error.param == 'Myself' %} nhsuk-form-group--error {% endif %}
                    {% if error.param == 'under16' or error.param == 'Myself' %}display: block;{% else %}display: none;{% endif %}
                {% endfor %}
            {% endif %}"
		    id="radios-applyingfor">


            {% for error in errors %}
                {% if error.param == 'Myself'%}
                    <span class="nhsuk-error-message" id=applyingfor-error" style="display: block;">
                        {{ __({phrase: error.msg, locale: locale }) }}
                    </span>
                    {% endif %}
              {% endfor %}

            {{ radios({
              "idPrefix": "applyingfor-error",
              "name": "ApplyingFor",

              "fieldset": {
                "legend": {
                  subHeading: { text: 'who-are-you-applying-for.section.heading'},
                  "text": "who-are-you-applying-for.h1",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": true,
                  "locale": locale
                  }
               },
              "items": [
                {
                  "checked": (data.Data.ApplyingFor === 'Myself'),
                  "id": "Myself",
                  "value": "Myself",
                  "text": "who-are-you-applying-for.option1",
                  "locale": locale
                },
                {
                  "checked": ((data.Data.ApplyingFor === 'SomeoneElse') or (data.Data.ApplyingFor === 'Deceased') or (data.Data.ApplyingFor === 'Under16') or (data.Data.ApplyingFor === 'Disabled')),
                  "id": "SomeoneElse",
                  "value": "SomeoneElse",
                  "text": "who-are-you-applying-for.option2",
                  "locale": locale
                }
              ]
            }) }}
		</div>
        {% if (data.Data.ApplyingFor === 'SomeoneElse') or (data.Data.ApplyingFor === 'Deceased') or (data.Data.ApplyingFor === 'Under16') or (data.Data.ApplyingFor === 'Disabled')%}
            <div class="nhsuk-form-group someoneElseError
                {% if errors %}
                    nhsuk-form-group--error
                    {% for error in errors %}
                         {% if error.param == 'under16'%} displayBlock {% else %} displayNone {% endif %}
                    {% endfor %}
                {% else %}
                    noError
                {% endif %}
            " id="radios-hidden" >
                {% for error in errors %}
                    {% if error.param == 'under16'%}
                        <span class="nhsuk-error-message" id=applyingfor-error" style="display: block;">
                        {{ __({phrase: error.msg, locale: locale }) }}
                        </span>
                    {% endif %}
                {% endfor %}

                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend">
                    {{ p({
                        "text": 'who-are-you-applying-for.hint',
                        "classes" : 'nhsuk-hint',
                        locale:locale
                    }) }}
                    </legend>
                    {% for error in data.errors %}
                        {% if error.param == 'under16'%}
                            <span class="nhsuk-error-message" id="on-behalf-of-error">
                            <span class="nhsuk-u-visually-hidden">Error:</span> {{ __({phrase: 'common.errors.E0036', locale: error.locale }) }}</span>
                        {% endif%}
                    {% endfor %}

                    {{ radios({
                        "idPrefix": "example-error",
                        "id": "OnBehalfOf",
                        "name": "OnBehalfOf",
                        "items": [
                            {
                                "checked": (data.Data.ApplyingFor === 'Under16'),
                                "value": "Under16",
                                "id": "under16",
                                "text": "who-are-you-applying-for.option3",
                                locale: locale
                            },
                            {
                                "checked": (data.Data.ApplyingFor === 'Disabled'),
                                "value": "Disabled",
                                "id": "disabled",
                                "text": "who-are-you-applying-for.option4",
                                locale: locale
                            },
                            {
                                "checked": (data.Data.ApplyingFor === 'Deceased'),
                                "value": "Deceased",
                                "id": "deceased",
                                "text": "who-are-you-applying-for.option5",
                                locale: locale
                            }
                        ]
                    }) }}

                    </fieldset>
            </div>
        {% endif %}
        <br/>
        {{ button({
            type: "submit",
            text: "common.button.continue",
            locale: locale
        }) }}
	</form>
</div>