<a class="nhsuk-skip-link
{%- if params.classes %} {{ params.classes }}{% endif %}" href="
{%- if params.href %}{{ params.href }}{% else %}#maincontent{% endif %}"
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
{%- if params.text %}{{ __({phrase: params.text, locale: params.locale }) }}{% else %}Skip to main content{% endif %}</a>
