{#<pagetitle>NHS.UK | Nominated person - check your answers</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/list/macro.njk' import list %}
{% from '../../../common/components/link/macro.njk' import link %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/details/macro.njk' import details %}

{{ heading({
    text: 'representative-cya.h1',
    classes : 'nhsuk-heading-l govuk-heading-l',
    locale: locale
    })
}}
<div class="nhsuk-main-wrapper" id="maincontent">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2>{{ __({phrase: 'about-you-cya.section1.h1', locale: locale }) }}</h2>
      <div class="nhsuk-summary-list__row">
        <dl class="nhsuk-summary-list" id="part-one-cya">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              {{__({phrase: 'representative-cya.section1.item1', locale:locale})}}
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data.Representative.RepresentativeForename }}
              {{ data.Representative.RepresentativeMiddlename }}
              {{ data.Representative.RepresentativeSurname }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/representative-name">
                {{__({phrase: 'common.change.link', locale:locale})}}
                <span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              {{__({phrase: 'representative-cya.section1.item2', locale:locale})}}
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{data.Representative.DisplayedAddress}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/representative-address">
                {{__({phrase: 'common.change.link', locale:locale})}}
                <span class="nhsuk-u-visually-hidden">address</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2>{{ __({phrase: 'about-you-cya.section2.h1', locale: locale }) }}</h2>

        <dl class="nhsuk-summary-list" id="part-one-cya">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              {{__({phrase: 'representative-cya.section2.item1', locale:locale})}}
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data.Representative.RepresentativeEmailAddress }}<br/>
              {{ data.Representative.DisplayedContactInformation }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/representative-contact">
                {{__({phrase: 'common.change.link', locale:locale})}}
                <span class="nhsuk-u-visually-hidden">mobile phone number</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
      {{
         link({
           "text": "common.button.continue",
           "href": "/your-application",
           "arrow": false,
           "classes": "nhsuk-button",
           locale: locale
         })
     }}
    </div>
  </div>
</div>