{#<pagetitle>NHS.UK | Nominate a representative</pagetitle>#}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/radios/macro.njk' import radios %}
<form action="representative-question" class="form" method="post" name="representativeCheckForm">
   <fieldset class="nhsuk-fieldset">
        {{
            heading({
                subHeading:{text: 'representative-question.section.heading'},
                text: 'representative-question.h1',
                classes: 'nhsuk-fieldset__heading',
                locale: locale
            })
        }}

        <div class="nhsuk-form-group {% if errors %} nhsuk-form-group--error {% endif %}" id="radios-representativeQuestion">
        {{ p({text:'representative-question.p1', classes:'nhsuk-body', locale: locale}) }}
        {% for error in errors %}
            {% if error.param == 'Yes'%}
                <span class="nhsuk-error-message" id=representative-question-error" style="display: block;">
                  {{ __({phrase: error.msg, locale: error.locale }) }}
                </span>
                {% endif %}
          {% endfor %}
          {{ radios({
            "idPrefix": "representative-question",
            "name": "RepresentativeFlag",
            "items": [
              {
                "checked": (data.Representative.RepresentativeQuestion === 'Yes'),
                "id": "Yes",
                "value": "Yes",
                "text": "representative-question.option1",
                "locale": locale
              },
              {
                "checked": (data.Representative.RepresentativeQuestion === 'No'),
                "id": "No",
                "value": "No",
                "text": "representative-question.option2",
                "locale": locale
              }
            ]
          }) }}
        </div>
    </fieldset>
    {{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>
