{#<pagetitle>NHS.UK | Were vaccines received in UK</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/p/macro.njk' import p %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from 'components/hint/macro.njk' import hint %}
{% from '../../../common/components/radios/macro.njk' import radios %}
<form action="add-vaccine-location" method="post" class="form">
    <fieldset class="nhsuk-fieldset">
        {{
            heading({
                subHeading:{text: 'add-vaccine-location.heading'},
                text: 'add-vaccine-location.h1',
                classes: 'nhsuk-fieldset__heading',
                locale: locale
            })
        }}


        <div class="nhsuk-form-group {% if errors %} nhsuk-form-group--error {% endif %}" id="radios-vaccineLocation">
            {{
                p({
                    "text": 'add-vaccine-location.hint',
                    "classes" : 'nhsuk-hint',
                    locale:locale
                })
            }}
            {% for error in errors %}
                <span class="nhsuk-error-message" id=vaccine-location-error" style="display: block;">
                  {{ __({phrase: error.msg, locale: error.locale }) }}
                </span>
            {% endfor %}
            {{ radios({
              "idPrefix": "vaccine-location",
              "name": "vaccineLocation",
              "items": [
                {
                  "checked": (data.Data.vaccineLocation === 'Yes'),
                  "id": "Yes",
                  "value": "United Kingdom",
                  "text": "add-vaccine-location.option1",
                  "locale": locale
                },
                {
                  "checked": (data.Data.vaccineLocation === 'No'),
                  "id": "No",
                  "value": "Outside United Kingdom",
                  "text": "add-vaccine-location.option2",
                  "locale": locale
                }
              ]
            }) }}
        </div>
    </fieldset
    <br>
    {{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>
