{#<pagetitle>NHS.UK | NHS.UK | Vaccination notes</pagetitle>#}
{% from '../../../common/components/heading/macro.njk' import heading %}
{% from '../../../common/components/input/macro.njk' import input %}
{% from '../../../common/components/button/macro.njk' import button %}
{% from '../../../common/components/label/macro.njk' import label %}
{% from '../../../common/components/p/macro.njk' import p %}

{{
    heading({
        subHeading: { text: 'polio-notes.section.heading'},
        text:  'polio-notes.h1',
        classes: 'nhsuk-heading-l govuk-heading-l',
        locale: locale
    })
}}

<form action="polio-notes" method="post" class="form">
    <div class="nhsuk-form-group {% if errors %} nhsuk-form-group--error {% endif %}">
        {{ p({
            "text": 'polio-notes.hint',
            "classes" : 'nhsuk-hint',
            locale:locale
        }) }}

        {% for error in errors %}
            <span class="nhsuk-error-message" id="addressLine1-error" >
                {{ __({phrase: error.msg, locale: error.locale }) }}
            </span>
        {% endfor %}
        <label for="description" class="nhsuk-u-visually-hidden">description</label>
        <textarea class="nhsuk-textarea" id="description" name="description" rows="5" aria-describedby="description">{{ data.VaccineNotes.Description }}</textarea>
        <br/>
        {{ p({
          id: "count",
          text: "polio-notes.limit",
          classes: "nhsuk-label",
          locale: locale
        }) }}
    </div>
    <br>

    {{ button({
        type: "submit",
        text: "common.button.continue",
        locale: locale
    }) }}
</form>